/* Smooth natural waves for light theme */
.wave-light-1 {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"><path d="M0,40 C150,80 350,0 600,40 C850,80 1050,0 1200,40 L1200,120 L0,120 Z" opacity=".2" fill="%232d62a3" /></svg>');
  z-index: 1;
}

.wave-light-2 {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"><path d="M0,60 C200,20 400,100 600,60 C800,20 1000,100 1200,60 L1200,120 L0,120 Z" opacity=".4" fill="%23238dbb" /></svg>');
  z-index: 2;
}

.wave-light-3 {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"><path d="M0,80 C300,120 400,20 600,60 C800,100 900,40 1200,80 L1200,120 L0,120 Z" fill="%230f4c75" /></svg>');
  z-index: 3;
}
